:root{
    /*Color Scheme*/
    --main-bg-color: #ddddee;
    --secondary-bg-color: #4d9b97;
    --header-text-color: #E0CF81;
    --section-text-color: #CBBD9D;
    --hover-text-color: white;
    --main-accent-color: #776659;
    --bold-background-color: rgb(21, 35, 56);

    /*Font Sizes*/
    --header-text-size: 17px;
    --section-text-size: 12px;
}

* {
    background-color: var(--main-bg-color);
    font-family: monospace;
    overflow: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

/*Body Styling*/
body{
    margin: 0;
    padding: 0;
}

/*Body Title / Dev Name*/
.body-title{
    display: block;
    margin-right: 2rem;
    width: 18rem;
    padding: .4rem 1.25rem;
    z-index: 2;
    background-color: var(--secondary-bg-color);
    color: var(--bold-background-color);
}

/*Nav-Bar*/
.topnav {
    background-color: rgb(21, 35, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav a {
    float: left;
    color: var(--secondary-bg-color);
    background-color: var(--bold-background-color);
    text-align: center;
    padding: 1em 2em;
    font-size: 20px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: var(--secondary-bg-color);
    color: var(--hover-text-color);
}

/*About Me Section*/
.about-me{
    padding-top: 1rem;
    padding-left: 2rem;
    gap: 2rem;
    display: flex;
    margin: 1rem 4rem;
}

.about-me .about-me-img-container{
    width: 25rem;
    height: 100%;
}

.about-me .about-me-img-container img{
    width: 100%;
    height: auto;
    padding-left: 1rem;
}

.about-me p{
    font-size: 24px;
    max-width: 60%;
    background-color: var(--secondary-bg-color);
    padding: 5rem;
    color: white;
    margin: 0;
}

/*Hero Banner Styling*/
.hero-form{
    height: 15rem;
    /*Used a random stock image that's why it has the things. Didn't see a provided image in prompt*/
    background-image: url("./Images/52824017-green-retro-chalkboard-background-banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-form h1{
    position: absolute;
    bottom: 0;
    right: 5rem;
    padding: 1rem 2rem;
    background-color: var(--bold-background-color);
    color: var(--secondary-bg-color);
}
/* Project Styling*/
.projects{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25rem;
    margin: 1rem 4rem; 
}

.project { 
    margin: 1rem 0;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 2rem;
    display: flex;
    justify-content: flex-end;
    overflow: visible; 
}

.project h2, .about-me h2{
    border-right: 5px solid #4d9b97;
    margin: 0;
    padding-right: 1rem;
    text-align: start;
    color: var(--main-accent-color);
    font-size: 35px;
    width: fit-content;
    min-height: 100%;
}

.project a{
    width: 80%;
    padding-left: 1rem;
    height: 36rem;
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
}

.project a:hover{
    opacity: 0.5;
}

.project-box-title{
    padding: 3rem;
    width: 25%;
    min-width: fit-content;
    margin: 1rem 0 0 0;
    font-size: 26px;
    background-color: var(--secondary-bg-color);
    box-shadow: 10px 5px 5px black;
    color: var(--main-bg-color);
    align-self: baseline;
    text-align: center;
}

.project-box{
    overflow: visible;
    width: fit-content;
}

.project-box-info{
    background-color: var(--main-accent-color);
    font-size: 20px;
    color: white;
    padding: 1rem;
}

/* Unique Styling Per Project */
#React a{
    background-image: url("./Images/PGD-screen-snip.png");
}

#React p{
    width: fit-content;
    border-color: transparent;
}

#Net{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#Net a{
    background-image: url("./Images/stray-pixel-screen-snip.png");
    max-width: 100%;
    height: 100%;
}

#Net .project-box-title{
    width: 50%;
    height: fit-content;
    font-size: 18px;
    padding: .75rem;
}

#Net .project-box-info{
    max-width: 25rem;
}

#Java{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#Java a{
    background-image: url("./Images/HeroHomepage_2880x1200.max-1000x1000.jpg");
    max-width: 100%;
    height: 100%;
}

#Java .project-box-title{
    width: 50%;
    height: fit-content;
    font-size: 24px;
    padding: .75rem;
}

#Java .project-box-info{
    max-width: 25rem;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    *{
        flex: 50%;
    }

    #Net{
        flex-direction: row;
    }

    #Java{
        flex-direction: row;
    }

    .project h2{
        min-height: min-content;
        height: auto;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        flex: 50%;
    }

    #Net{
        flex-direction: row;
    }

    #Java{
        flex-direction: row;
    }
    #Net h2, #Java h2{
        min-height: min-content;
        height: auto;
    }
}